<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoLib.cs.Properties.Settings.MiDatabaseConnectionString" connectionString="Data Source=|DataDirectory|\MiDatabase.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="ProyectoLib.cs.Properties.Settings.Database2ConnectionString" connectionString="Data Source=|DataDirectory|\UsersDB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
